.sidebarFace{
    background-color: linear-gradient(transparent,rgba(0,0,0,0.5));
    flex-basis: 25%;
    position: sticky;
    top: 70px;
    align-self: flex-start;
}

.sidebarFace img{
    width: 40px;
    border-radius: 50%;
}

.sidebarFace  h4{
    margin-left: 15px;
    font-weight: 600;
}

.for-name{
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-top: 20px;
}